<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>Word Count</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
 <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
 <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    {{ script | safe }}

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Work Counter Visualizer</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
{#        Dropdown#}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Topics</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="https://davidpofo.github.io/DevLanding/">Portfolio Website</a>
                <a class="dropdown-item" href="https://docs.bokeh.org/en/latest/index.html">What is Bokeh?</a>
                <a class="dropdown-item" href="https://www.djangoproject.com/">What is Django?</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/davidpofo/wordcount-project">Source</a>
        </li>
    </ul>


</nav>
<div class="content container">
    {% block content %}
{% endblock %}
{{ div| safe }}
</div>
</body>
</html>